---
import Layout from '@layouts/Layout.astro';
import Table from '@components/Table';

import styles from './players.module.css';

import type { MarkdownInstance } from 'astro';
import type { PlayerFrontmatter } from '../../types/player';

const playerFiles = import.meta.glob('../../content/player/*.md', {
  eager: true,
}) as Record<string, MarkdownInstance<PlayerFrontmatter>>;

const players = Object.values(playerFiles).map(
  ({ frontmatter }) => frontmatter,
);

const tableData = players.map((player) => ({
  name: `${player.firstName}${player.knownAs ? ` "${player.knownAs}"` : ''} ${player.lastName}`,
  playerImage: player.image,
  playerSlug: player.slug,
  gamesPlayed: player.gamesPlayed,
  wins: player.wins,
  bubbles: player.bubbles,
  navigate: `/players/${player.slug}`,
}));
---

<Layout title="Players">
  <div class={styles.container}>
    <Table client:load data={tableData} />
  </div>
</Layout>
