---
import Layout from '@layouts/Layout.astro';
import Table from '@components/Table';

import styles from './seasons.module.css';

import type { MarkdownInstance } from 'astro';
import type { SeasonFrontmatter } from '../../types/season';

const seasonFiles = import.meta.glob('../../content/season/*.md', {
  eager: true,
}) as Record<string, MarkdownInstance<SeasonFrontmatter>>;

const seasons = Object.values(seasonFiles).map((m) => m.frontmatter);

const currentSeason = seasons[seasons.length - 1];
const previousSeasons = seasons.slice(0, -1);

const currentSeasonTableData = [
  {
    season: currentSeason.name,
    numberOfPlayers: currentSeason.numberOfPlayers,
    numberOfGames: currentSeason.numberOfGames,
    leader: currentSeason.winnerFirstName,
    playerSlug: currentSeason.winnerSlug,
    playerImage: currentSeason.winnerImage,
    navigate: `/seasons/${currentSeason.slug}`,
  },
];

const previousSeasonsTableData = previousSeasons.map((s) => ({
  season: s.name,
  numberOfPlayers: s.numberOfPlayers,
  numberOfGames: s.numberOfGames,
  winner: s.winnerFirstName,
  playerSlug: s.winnerSlug,
  playerImage: s.winnerImage,
  navigate: `/seasons/${s.slug}`,
}));
---

<Layout title="Seasons">
  <div class={styles.container}>
    <section>
      <h2>Current season</h2>
      <Table client:load data={currentSeasonTableData} />
    </section>

    <section>
      <h2>Previous seasons</h2>
      <Table client:load data={previousSeasonsTableData} />
    </section>
  </div>
</Layout>
